# Primeira parte do Trabalho Prático de BD2

> REFERÊNCIA PRINCIPAL (material em construção): https://docs.google.com/presentation/d/1iIXPOhn2TSm5y5Rf5hiI46GTef1E2gKi/edit?usp=sharing&ouid=105327427325994478755&rtpof=true&sd=true


Vamos juntar o que vocês já enviaram de PI3 com a atividade de revisão que fizemos algumas aulas atrás (link a seguir) <br>
https://docs.google.com/document/d/1bXAUHBfzFwRp2Rsxn4-Afhm_yPm3Pz1DhQtp_CZz-JQ

Crie um novo script do Google Colab, e comece definindo as funções de execução de queries que vimos nas últimas aulas. <br>
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓

In [ ]:
import sqlite3
from sqlite3 import Error

## Função de alteração (insert, update, delete...)
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print(f"Query {query.split('(')[0].strip()} executada.")
        if cursor.rowcount != -1: print(f"{cursor.rowcount} linha(s) afetadas")

    except Error as e:
        print(f"Erro: '{e}'")


# Função de leitura de dados (select)
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()

        return result
    except Error as e:
        print(f"Erro: '{e}'")

# Suas tabelas de PI3

Abra a célula de código que corresponde à sua equipe de PI3, nela estará o SQL de criação de tabelas que foi enviado por vocês em atividades anteriores. Copie o código de execução para o seu script.

## Campus Cine

In [ ]:
## Criando conexão
connection = sqlite3.connect("campus_cine.sqlite")

query = """
create table Cineclube (
    ID_cineclube INTEGER PRIMARY KEY AUTOINCREMENT,
    nome varchar(20) not null,
    campusname varchar(50) not null,
    data_inicio date not null,
    nome_coordenador varchar(20) not null,
    senha varchar(20) not null
);
"""
execute_query(connection, query)

query = """
create table Acoes (
    ID_acao INTEGER PRIMARY KEY AUTOINCREMENT,
    tipo TEXT CHECK( tipo IN ('divulgação', 'exibição', 'debate', 'diversificado') ) not null,
    titulo varchar(50) not null,
    data date not null,
    hora_inicio time not null,
    hora_fim time not null,
    local varchar(75) not null
);
"""
execute_query(connection, query)

query = """
create table Usuario (
    nome varchar(20) not null,
    email varchar(50) primary key,
    senha varchar(50) not null,
    data_nascimento date not null,
    cidade varchar(70) not null
);
"""
execute_query(connection, query)

query = """
create table Publico (
    ID_publico INTEGER PRIMARY KEY AUTOINCREMENT,
    email varchar(50),
    Publico_externo boolean not null,
    Publico_interno boolean not null,
    foreign key (email) references usuario(email)
);
"""
execute_query(connection, query)

Query executada.
Query executada.
Query executada.
Query executada.

## Mapeamento Cultural

In [ ]:
## Criando conexão
connection = sqlite3.connect("mapeamento_cultural.sqlite")

query = """
CREATE TABLE endereco (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    rua VARCHAR(100),
    numero VARCHAR(10),
    CEP VARCHAR(10),
    regiao VARCHAR(50)
);
"""
execute_query(connection, query)

query = """
CREATE TABLE pontos_historicos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    descricao TEXT,
    endereco_id INT,
    FOREIGN KEY (endereco_id) REFERENCES endereco(id)
);
"""
execute_query(connection, query)

query = """
CREATE TABLE grupo_cultural (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome VARCHAR(100),
    descricao TEXT,
    fotos TEXT,
    contato VARCHAR(100)
);
"""
execute_query(connection, query)

query = """
CREATE TABLE evento (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    data DATE,
    horario TIME,
    local VARCHAR(100),
    status VARCHAR(50),
    url_ingresso VARCHAR(255)
);
"""
execute_query(connection, query)

query = """
CREATE TABLE localiza (
    grupo_id INTEGER,
    ponto_id INTEGER,
    PRIMARY KEY (grupo_id, ponto_id),
    FOREIGN KEY (grupo_id) REFERENCES grupo_cultural(id),
    FOREIGN KEY (ponto_id) REFERENCES pontos_historicos(id)
);
"""
execute_query(connection, query)

query = """
CREATE TABLE apresenta (
    grupo_id INTEGER,
    evento_id INTEGER,
    grupo_responsavel VARCHAR(100),
    PRIMARY KEY (grupo_id, evento_id),
    FOREIGN KEY (grupo_id) REFERENCES grupo_cultural(id),
    FOREIGN KEY (evento_id) REFERENCES evento(id)
);
"""
execute_query(connection, query)

Query executada.
Query executada.
Query executada.
Query executada.
Query executada.
Query executada.

## Atendimento NAE

In [ ]:
## Criando conexão
connection = sqlite3.connect("atendimento_nae.sqlite")

query = """
create table Profissional(
	nome varchar (100),
  CPF varchar(14) primary key,
  email varchar(50),
  telefone varchar(15),
  dataNasc date
);
"""
execute_query(connection, query)

query = """
create table Aluno(
	nome varchar(100),
  RA char(7) primary key,
  telefone varchar(15),
  dataNasc date
);
"""
execute_query(connection, query)

query = """
create table Responsavel(
	nome varchar(100),
  cpf varchar(14) primary key,
  telefone varchar(15),
  grauParentesco text
);
"""
execute_query(connection, query)

query = """
create table Prontuario(
	ID integer primary key,
	dataProntuario date,
  descricao text,
  condicaoRestricao text
);
"""
execute_query(connection, query)

### Esse aqui precisa arrumar
##### A chave primária de anexo é o ID do prontuário? Só pode ter um anexo por prontuário?
# query = """
# create table Anexo(
# 	IDProntuario integer primary key,
#   arquivo text,
#   constraint fk_Anexo foreign key (IDProntuario) references Prontuario(ID)
# );
# """

query = """
create table fazProntuario(
	CPFProfissional varchar(14),
  RAaluno char(7),
  IDprontuario int,

  primary key (CPFProfissional, RAAluno, Idprontuario),
  foreign key (CPFProfissional) references Profissional(CPF) on delete restrict,
  foreign key (RAaluno) references Aluno(RA) on delete restrict,
  foreign key (IDprontuario) references Prontuario(ID) on delete restrict
);
"""
execute_query(connection, query)

query = """
create table alunoPossuiResponsavel(
	RAAluno char(7),
  cpfResponsavel varchar(14),

  primary key (RAAluno, cpfResponsavel),
  foreign key (RAAluno) references Aluno(RA) on delete restrict,
  foreign key (cpfResponsavel) references Responsavel(cpf) on delete restrict
);
"""
execute_query(connection, query)

query = """
insert into Aluno (nome, RA, telefone, dataNasc) values
('Rafael Felipe', 'A123456', '(11)91234-5678', '2006-03-15'),
('Paulo Gabriel', 'A123457', '(11)92345-6789', '2005-08-22'),
('Pedro Martins', 'A123458', '(11)93456-7890', '2006-01-10'),
('Raul Miguel', 'A123459', '(11)94567-8901', '2005-12-05'),
('Arthur Pacheco', 'A123460', '(11)95678-9012', '2006-07-19'),
('Heros Pacheco', 'A123461', '(11)96789-0123', '2005-10-30'),
('Daniel Borges', 'A123462', '(11)97890-1234', '2006-04-25'),
('Yan Gabriel', 'A123463', '(11)98901-2345', '2005-09-14');
"""
execute_query(connection, query)

query = """
insert into Profissional (nome, CPF, email, telefone, dataNasc) values
('Thamara', '123.456.789-00', 'thamara@email.com', '(11)91234-5678', '1990-05-12'),
('Listiane', '987.654.321-00', 'listiane@email.com', '(11)99876-5432', '1988-11-23');
"""
execute_query(connection, query)

query = """
insert into Responsavel (nome, cpf, telefone, grauParentesco) values
('Maria Silva', '111.222.333-44', '(11)91234-5678', 'Mãe'),
('João Pereira', '555.666.777-88', '(11)98765-4321', 'Pai'),
('Ana Costa', '999.888.777-66', '(11)99887-6655', 'Tia');
"""
execute_query(connection, query)

query = """
insert into alunoPossuiResponsavel (RAAluno, cpfResponsavel) values
('A123456', '111.222.333-44'),
('A123457', '555.666.777-88'),
('A123458', '999.888.777-66');
"""
execute_query(connection, query)

query = """
insert into Prontuario (ID, dataProntuario, descricao, condicaoRestricao) values
(1, '2025-06-01', 'Consulta inicial com avaliação psicológica', 'Nenhuma restrição'),
(2, '2025-06-10', 'Sessão de acompanhamento para ansiedade', 'Evitar estresse excessivo'),
(3, '2025-06-15', 'Avaliação para TDAH e planejamento terapêutico', 'Restrição ao uso de eletrônicos antes da consulta');
"""
execute_query(connection, query)

query = """
insert into fazProntuario (CPFProfissional, RAaluno, IDprontuario) values
('123.456.789-00', 'A123456', 1),
('987.654.321-00', 'A123457', 2),
('123.456.789-00', 'A123458', 3);
"""
execute_query(connection, query)

### Fazer exemplo insert anexo

Query create table Profissional executada.
Query create table Aluno executada.
Query create table Responsavel executada.
Query create table Prontuario executada.
Query create table fazProntuario executada.
Query create table alunoPossuiResponsavel executada.
Query insert into Aluno executada.
8 linha(s) afetadas
Query insert into Profissional executada.
2 linha(s) afetadas
Query insert into Responsavel executada.
3 linha(s) afetadas
Query insert into alunoPossuiResponsavel executada.
3 linha(s) afetadas
Query insert into Prontuario executada.
3 linha(s) afetadas
Query insert into fazProntuario executada.
3 linha(s) afetadas

## Finanças

In [ ]:
connection = sqlite3.connect("financas.sqlite")

query = """
create table usuario(
	id_usuario integer primary key autoincrement,
  nome varchar(100),
  email varchar(100),
  celular char(15),
  senha varchar(100)
);
"""
execute_query(connection, query)

query = """
create table card(
	id_card integer primary key autoincrement,
  descricao text,
  resumo varchar (140),
  titulo varchar(100)
);
"""
execute_query(connection, query)

query = """
create table avaliacao(
	id_avaliacao integer primary key autoincrement,
  nota float,
  comentario varchar(140),
  dataAvaliacao date
);
"""
execute_query(connection, query)

query = """
create table vocabulario(
	id_vocabulario integer primary key autoincrement,
  tituloVocabulario varchar(140)
);
"""
execute_query(connection, query)

# -- Relacionamento
query = """
create table avaliar (
    id_usuario integer,
    id_avaliacao integer,
    primary key (id_usuario, id_avaliacao),
    foreign key (id_usuario) references Usuario(id_usuario),
    foreign key (id_avaliacao) references Avaliacao(id_avaliacao)
);
"""
execute_query(connection, query)

query = """
create table visualizar (
    id_usuario integer,
    id_vocabulario integer,
    primary key (id_usuario, id_vocabulario),
    foreign key (id_usuario) references Usuario(id_usuario),
    foreign key (id_vocabulario) references Vocabulario(id_vocabulario)
);
"""
execute_query(connection, query)

query = """
create table favoritar (
    id_usuario integer,
    id_card integer,
    primary key (id_usuario, id_card),
    foreign key (id_usuario) references Usuario(id_usuario),
    foreign key (id_card) references Card(id_card)
);
"""
execute_query(connection, query)

Query create table usuario executada.
Query create table card executada.
Query create table avaliacao executada.
Query create table vocabulario executada.
Query create table avaliar executada.
Query create table visualizar executada.
Query create table favoritar executada.

## Prisma

In [ ]:
connection = sqlite3.connect("prisma.sqlite")

query = """
create Table Turma(
  Codigo varchar(10) not null  primary key,
  Curso varchar(20) not null,
  Periodo int not null
);
"""
execute_query(connection, query)

query = """
create Table Aluno(
  RA varchar(7) not null,
  CodigoTurma varchar(10) not null,
  Nome text not null,
  DataNasc date not null,

  primary key(RA, CodigoTurma),
  foreign key(CodigoTurma) references Turma(Codigo) on delete restrict
);
"""
execute_query(connection, query)

query = """
create Table ContatoDoAluno(
  RAAluno varchar(7) not null primary key,
  contato text not null,

  foreign key(RAAluno) references Aluno(RA) on delete cascade
);
"""
execute_query(connection, query)

query = """
create Table Professor(
  ID varchar(8) not null primary key
);
"""
execute_query(connection, query)

query = """
create Table ContatoDoProfessor(
  IDProfessor varchar(8) not null primary key,
  contato text not null,

  foreign key(IDProfessor) references Professor(ID) on delete cascade
);
"""
execute_query(connection, query)

query = """
create Table ProfessorLecionaEmTurma(
  IDProfessor varchar(8) not null,
  CodigoTurma varchar(10) not null,
  Disciplina text not null,

  primary key(IDProfessor, CodigoTurma),
  foreign key(IDProfessor) references Professor(ID) on delete restrict,
  foreign key(CodigoTurma) references Turma(Codigo) on delete restrict
);
"""
execute_query(connection, query)

query = """
create Table Questionario(
  NumeroRef integer not null primary key autoincrement
);
"""
execute_query(connection, query)

query = """
create Table AlunoRespondeQuestionario(
  RAAluno varchar(7) not null,
  NumeroRefQuestionario integer not null,
  DataResposta date not null,

  primary key(RAAluno, NumeroRefQuestionario),
  foreign key(RAAluno) references Aluno(RA) on delete cascade,
  foreign key(NumeroRefQuestionario) references Questionario(NumeroRef) on delete restrict
);
"""
execute_query(connection, query)

query = "INSERT INTO Turma(Codigo, Curso, Periodo) VALUES ('0123456789', 'Informatica','Primeiro Ano');"
execute_query(connection, query)

query = "INSERT INTO Aluno(RA, CodigoTurma, Nome, DataNasc) VALUES ('0123456', '0123456789', 'Maria Lúcia da Silva Rodrigues', '2006-09-17');"
execute_query(connection, query)

query = "INSERT INTO ContatoDoAluno(RAAluno, contato) VALUES ('0123456','nomedoaluno@gmail.com');"
execute_query(connection, query)

query = "INSERT INTO Professor(ID) VALUES ('6543210');"
execute_query(connection, query)

query = "INSERT INTO ContatoDoProfessor(IDProfessor, contato) VALUES ('6543210','nomeprofessor@gmail.com');"
execute_query(connection, query)

query = "INSERT INTO  ProfessorLecionaEmTurma(IDProfessor, CodigoTurma, Disciplina) VALUES ('6543210','0123456789', 'Banco de Dados');"
execute_query(connection, query)

Query create Table Turma executada.
Query create Table Aluno executada.
Query create Table ContatoDoAluno executada.
Query create Table Professor executada.
Query create Table ContatoDoProfessor executada.
Query create Table ProfessorLecionaEmTurma executada.
Query create Table Questionario executada.
Query create Table AlunoRespondeQuestionario executada.
Query INSERT INTO Turma executada.
1 linha(s) afetadas
Query INSERT INTO Aluno executada.
1 linha(s) afetadas
Query INSERT INTO ContatoDoAluno executada.
1 linha(s) afetadas
Query INSERT INTO Professor executada.
1 linha(s) afetadas
Query INSERT INTO ContatoDoProfessor executada.
1 linha(s) afetadas
Query INSERT INTO  ProfessorLecionaEmTurma executada.
1 linha(s) afetadas

# Atividades

Para cada atividade a seguir, copie para o seu script as células de texto e de código indicadas, e altere o que for pedido na questão.

Você pode acessar o material de apoio para relemebrar os conceitos de consultas com SQL: <br>
https://docs.google.com/presentation/d/1iIXPOhn2TSm5y5Rf5hiI46GTef1E2gKi

## Atividade 01
Crie duas consultas relevantes para sua aplicação em PI3 que tenham, pelo menos, uma função de agregação em cada. Para cada consulta, descreva a ação esperada (ex.: contar participantes em um evento) e justifique o contexto na aplicação de PI3 (ex.: funcionalidade do back-end para checar se já atingiu o limite de vagas do evento).

**-- EDITE ESSA CÉLULA --**

**CONSULTA 1**

* **Objetivo da consulta (contexto de PI3): ESCREVA**
* **Descrição da ação esperada ao rodar a consulta: ESCREVA**

In [ ]:
## ESCREVA AQUI O SELECT 1

**-- EDITE ESSA CÉLULA --**

**CONSULTA 2**

* **Objetivo da consulta (contexto de PI3): ESCREVA**
* **Descrição da ação esperada ao rodar a consulta: ESCREVA**

In [ ]:
## ESCREVA AQUI A CONSULTA 2

## Atividade 02

Crie uma consulta relevante para sua aplicação em PI3 que envolva três entidades distintas. Descreva a ação esperada e justifique o contexto na aplicação de PI3.

**-- EDITE ESSA CÉLULA --**

**CONSULTA COM 3 ENTIDADES**

* **Objetivo da consulta (contexto de PI3): ESCREVA**
* **Descrição da ação esperada ao rodar a consulta: ESCREVA**

In [ ]:
## ESCREVA AQUI A CONSULTA COM 3 ENTIDADES

## Atividade 03

Crie uma view relevante para sua aplicação em PI3. Descreva a ação esperada na consulta dentro de sua view e, ao justificar o contexto, informe também por que a ação é tão recorrente no seu PI3 a ponto de precisar de uma view.

**-- EDITE ESSA CÉLULA --**

* **Justificativa para que a consulta seja uma View (Contexto de PI3): ESCREVA**
* **Descrição da ação esperada ao rodar a consulta: ESCREVA**

In [ ]:
## ESCREVA ABAIXO A VIEW

## ESCREVA ABAIXO O SELECT QUE RETORNA TODOS OS ELEMENTOS DA VIEW

## Atividade 04

Crie um procedure relevante para sua aplicação em PI3. Descreva a ação esperada ao executar a procedure e, ao justificar o contexto, explique por que essa ação é tão recorrente no seu PI3 a ponto de precisar de uma procedure.

**-- EDITE ESSA CÉLULA --**

* **Justificativa para que a operação seja um Procedure (Contexto de PI3): ESCREVA**
* **Descrição da ação esperada ao executar o procedure: ESCREVA**

In [ ]:
## ESCREVA ABAIXO O PROCEDURE

## ESCREVA ABAIXO UMA EXECUÇÃO DA PROCEDURE

## Atividade 05

Crie uma function relevante para sua aplicação em PI3.
Descreva o valor esperado como retorno ao executar a function e, ao justificar o contexto, explique por que é importante ter essa lógica encapsulada para uso recorrente no seu PI3.

**-- EDITE ESSA CÉLULA --**

* **Justificativa para que a operação seja uma Function (Contexto de PI3): ESCREVA**
* **Descrição da operação realizada e valor retornado pela Function: ESCREVA**

In [ ]:
## ESCREVA ABAIXO A FUNCTION

## ESCREVA ABAIXO UMA CONSULTA QUE INCLUI A FUNCTION

## Atividade 06

Crie um trigger relevante para sua aplicação em PI3.
Descreva o evento que aciona o trigger e, ao justificar o contexto, explique por que essa automação é necessária para manter a integridade ou eficiência do seu PI3.

**-- EDITE ESSA CÉLULA --**

* **Justificativa para que a operação seja um Trigger (Contexto de PI3): ESCREVA**
* **Descrição do evento que dispara o Trigger e das operações que ele executa: ESCREVA**

In [ ]:
## ESCREVA ABAIXO O TRIGGER

## ESCREVA ABAIXO UM COMANDO SQL QUE DISPARA O TRIGGER